body {
	background-color: black;
	color: white;
}

header {
	background-color: black;
	border: solid 0.5vmin white;
	margin: 1vmin;
	padding: 0.5vmin;
	border-radius: 3vmin;
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.wallpaper {
	background-image: url('../img/poker-background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -2;
	top: 0;
}

.poker-table {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

@media (max-width: 800px) {
	.poker-table-center-left, .poker-table-center-right, .poker-table-center-small {
		display: none;
	}
}

@media (min-width: 801px) and (max-width: 1000px) {
	.poker-table-center-left, .poker-table-center-right {
		display: none;
	}
}

@media (min-width: 1001px) and (max-width: 1300px) {
	.poker-table-center-small, .poker-table-center-left {
		display: none;
	}
}

@media (min-width: 1301px) and (max-width: 1600px) {
	.poker-table-center-left {
		display: none;
	}
}

@media (min-width: 1601px) and (max-width: 2000px) {
	.poker-table-center-small {
		display: none;
	}
}

.opponent-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.opponent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min-content;
	flex-grow: 1;
}

.avatar-pic {
	width: 64px;
	height: 64px;
}

.nickname {
	white-space: nowrap;
	width: min-content;
}

.playing-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.chat {
	width: 20%;
}

.cards-container {
	flex-grow: 1;
	text-align: center;
}

.score-table {
}

.score-table table {
	display: grid;
	grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
	grid-auto-rows: 20%;
	grid-auto-flow: row;
	overflow-y: scroll;

	height: 200px;

	border-collapse: collapse;
	background-color: white;
	text-align: center;
}

.score-table thead,
.score-table tbody,
.score-table tfoot,
.score-table tr {
	display: contents;
}

.score-table th,
.score-table td {
	padding: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.score-table th {
	position: sticky;
	top: 0;
	background: #6c7ae0;
	font-weight: normal;
	font-size: 1rem;
	color: white;
}

.score-table tfoot td {
	position: sticky;
	bottom: 0;
	background: #6c7ae0;
	font-weight: normal;
	font-size: 1rem;
	color: white;
}

.score-table th:last-child {
	border: 0;
}

.score-table td {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #808080;
}

.score-table tr:nth-child(even) td {
	background: #f8f6ff;
}
